*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    box-sizing: border-box;
}body{
    background-color: #f0f0f0;
}
.navbar{
    height:60px;
    width:100%;
    background-color:rgb(15, 17, 17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}.nav-logo{
    height:50px;
    width: 50px;

}#hello{
    padding: 10px;;
}.add-icon{
    font-size: 1.2rem;

}
.logo{
    background-image: url("logo_image.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height:50px;
    width:100%;

}.border{
    border: 2px solid transparent;
}.border:hover{
    border: 2px solid #FFAB5B ;
}.nav-address{
    height:50px;
    display: flex;
    flex-direction: row;
}
.address-first{
    color:#cccccc;
    font-size: 14px;
    margin-left:15px;
}.address-second{
    color:#ffffff;
    font-size: 16px;
}.add-icon{
    display: flex;
    align-items: center;
}.nav-search{
    display: flex;
    border: 1px solid black;
    height: 40px;
    background-color: rgb(252, 165, 3);
    border-radius: 4px;
    width:640px;
    justify-content: space-evenly;

}.nav-search:hover{
    border:2px solid rgb(252, 165, 3);
}
.search-icon{
    margin-top: 10px;
    width:40px;
    text-align: center;
    font-size: 1.2rem;
   
}.search-select{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border: none;

}.search-input{
    width:100%;
    font-size: 17px;
    border: none;

}.nav-signin{
    display: flex;
}.user-icon{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 25px;
    border: 1px solid white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.signin-first{
    font-size:14px;
    color:#cccccc;

}.signin-second{
    font-size:16px;
    color:#f3f3f3;
    font-weight: 700;
}.nav-faqs{
    height: 40px;
    width: 70px;
    color: #f3f3f3;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 4px;
}#FAQS{
    text-decoration: none;
    color: #f3f3f3;
}.banner-section{
    position: relative;
}a{
    text-decoration: none;
    color: white;
}
.banner-section img{
   max-width: 100%;
   height: auto;
}.banner-text{
    position: absolute;
    top: 10%;
    color: black;
    padding-left :400px;
}.banner-text h4{
    font-size: 50px;
    color: black;
    font-weight: bold;
    margin-bottom: 100px;

}.banner-text h3 {
    margin-left: 450px;
    color:rgb(18, 14, 15) ;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
}.banner-button{
    height: 20px;
    width: 100px;
    background-color: rgb(252, 165, 3);
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    margin-left: 550px;

}.banner-section2{
    background-color: rgb(52,61,70);
    max-width: 100%;
    height:690px;
}.banner-section2 h1{
    color: #fefefe;
    font-family: work-sans;
    font-weight:semibold;
    margin-left:500px;
    padding-top: 50px;
    margin-bottom: 20px;
}.banner-section2 h3{
    color:#b4bac2;
   
    margin-left: 400px;
    font-size: 12px;
    margin-bottom: 20px;

}.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}.card{
    width:325px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0 0 0 0.2);
    margin:20px;
    text-align: center;
}.card img{
   width: 100%;
   height: auto;
}#input-section2{
    height: 20px;
    width: 100px;
    background-color: rgb(252, 165, 3);
    color: black;
    border: 2px solid black;
    border-radius: 50px;

}.banner-section3{
    height:1000px;
    width:100%;
    background-color:#f0f0f0;

}
.card2{
    border: 2px solid black;
    height:850px;
    width: 550px;
    border-radius: 14px;
    background-color: #F8F5E9;
}
.card-container-2{
    display: flex;
    justify-content:space-evenly;


}.card2-image img{
    width:100%;
    height: 800px;

}.card2-image{
    border: 2px solid black;
    border-radius: 14px;
}.card2{
    display: flex;
    flex-direction: column;
}.card2-sun-image{
    height:400px;
    background-image: url("sun.jpg");
    background-size: cover;
}li{
    list-style-type: number;
}.card3-technology-used{
    border: 2px solid black;
    height:520px;
    width: 700px;
    border-radius: 14px;
    background-color: #F8F5E9;

}.technology-used-image{
    height:400px;
    background-image: url("technology-used.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.footer{
    width:100%;
    height:300px;
    border:2px solid black;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(52,61,70);
}
.footer-img{
    height:50px;
    width:50px;
}
.footer-logo{
    height:300px;
    width:150px;
    position:relative;
    top:70px;
}
.text{
    height:300px;
    width:150px;
    position:relative;
    top:70px;

}
.f-text{
    color:cyan;
}
.pink{
    width: 100%;
    height:400px;
    border:2px solid black;
    display: flex;

}
.p-text{
    background-color:#f86a92;
    text-align: center;
    width:50%;
    
}
.heading{
    color:white;
    margin-top:100px;
}
.para{
    color:#fed9e8;
     
}
.p-img{
    width:50%;
}
.p-img1{
    width: 745px;
    height: 396px;
}
.next-gen{
    width:100%;
    height:700px;
    border:2px solid black;
}
.next-gen-heading{
    margin-top:100px;
    width:100%;
    height:200px;
    text-align:center;
}
.next-gen-head{
    color:#423f42;
}
.next-gen-para{
    color:#6c6a6e
}
.intelligent{
    height:500px;
    width:100%;
    display: flex;
}
.intelligent-img{
    height:500px;
    width:50%;
}
.intelligent-img1{
    height:400px;
    width:466px;
}
.design{
    color:#424042;
}
.enhanced{
    color:#e68199;
}
.design-para{
    color:#6b686c;
}
.btn-design{
    color:#fedce9;
    background-color: #f95b84;
    border-radius:15px;
    text-align:center;
    height:50px;
    width:150px;
    border:none;
}
.box{
    height:400px;
    width:100%;
    border:2px solid black;
}
.box-heading{
    color:#423f42;
    margin-left: 70px;
    margin-top:30px;
}
.box-text{
    color:#a9a9ab;
    margin-left:70px;
}
.boxes{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
.box1{
    width:250px;
    height:250px;
    border:1px solid black;
    text-align: center;
}
.box1-title{
    color:#3a3a3d;
     
}
.box1-text{
    color:#a9a9ab;
     
}



